.mod-striped {
	width:100%;
	padding:0 1em;
}

.mod-striped .stripe-pay input {
	width:60%;
}

.mod-striped p { font-size:small; line-height:1em; }
.mod-striped .setamnt { width:5em; }
.mod-striped .doit { width:100%; }

.mod-striped ::placeholder {
  color: #BBB;
}

